@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%; /* set the width of the container to 90% */
}

.list {
  flex: 1 0 calc(33.33% - 2rem); /* set flex-basis to 33.33% minus margin to allow 3 tables per row */
  margin: 1rem;
  max-width: 500px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
